<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pricematch</name>
	<displayName><![CDATA[Price Match]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Product Price Match Module.]]></description>
	<author><![CDATA[Odevme]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete this module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>